/* Only real global things here! */

* {
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-weight: unset;
}

:root,
.__kk-light-mode {
  --main-bg-color: rgba(108, 22, 16);
  --main-bg-color-transparent: rgba(108, 22, 16, 0.9);
  --main-bg-colorHover: rgb(128, 22, 16);
  --font-color: #ffffff;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face */
@font-face {
  font-display: swap;
  font-family: 'GidoleKochka';
  font-style: normal;
  font-weight: 400;
  src: local('Gidole'), url('/fonts/Gidole-Regular-subset.ttf') format('truetype');
  unicode-range: U+20, U+41, U+43, U+46, U+48, U+4B, U+4F, U+C9; /* KOCHKA CAFÉ */
}
