/* Only real global things here! */

html,
body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

:root,
.__kk-light-mode {
  --main-bg-color: rgba(108, 22, 16);
  --main-bg-color-transparent: rgba(108, 22, 16, 0.9);
  --main-bg-colorHover: rgb(128, 22, 16);
  --font-color: #ffffff;
}
