# CODEOWNERS file defines individuals or teams that are
# responsible for code in a repository.
# See: https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will
# be requested for review when someone opens a pull request.

* @adeira/devs

# Why @adeira-github-bot? GitHub doesn't allow self-approve
# of the PRs. However, at least one approval is required by
# any codeowner and the projects below are having only one
# main developer. Other Adeira devs can approve these PRs if
# they want but @adeira-github-bot helps if they don't.

/src/ya-comiste-backoffice/ @adeira/devs @adeira-github-bot
/src/ya-comiste-meta/ @adeira/devs @adeira-github-bot
/src/ya-comiste-rust/ @adeira/devs @adeira-github-bot
yarn.lock @adeira/devs @adeira-github-bot
