# CODEOWNERS file defines individuals or teams that are
# responsible for code in a repository.
# See: https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will
# be requested for review when someone opens a pull request.

* @mrtnzlml @tbergq @jaroslav-kubicek @michalsanger

# Why @adeira-github-bot? GitHub doesn't allow self-approve
# of the PRs. However, at least one approval is required by
# any codeowner. So @adeira-github-bot helps us to approve
# these PRs for projects with one owner.

/src/ya-comiste-backoffice/ @mrtnzlml @adeira-github-bot
/src/ya-comiste-meta/ @mrtnzlml @adeira-github-bot
/src/ya-comiste-react-native/ @mrtnzlml @adeira-github-bot
/src/ya-comiste-rust/ @mrtnzlml @adeira-github-bot
