# README: Use project specific .gitignore file for your application!
#         This ignore file is only for the monorepo as a whole.
#
# See: https://git-scm.com/docs/gitignore#_pattern_format

.atom/
.idea/
.next/
.serverless/
.vscode/
node_modules/

.DS_Store
.env

# Yarn Berry with "zero installs":
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
