* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: 108, 22, 16; /* #6c1610 */
  --main-bg-color-dark: 72, 5, 0;
  --secondary-color: 136, 65, 59;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face */
@font-face {
  font-display: swap;
  font-family: 'GidoleKochka';
  font-style: normal;
  font-weight: 400;
  src: local('Gidole'), url('/fonts/Gidole-Regular-subset.ttf') format('truetype');

  /* All characters from: "KOCHKA CAFÉ®" */
  unicode-range: /*K*/ U+4B, /*O*/ U+4F, /*C*/ U+43, /*H*/ U+48, /*A*/ U+41, /* */ U+20, /*F*/ U+46,
    /*É*/ U+C9, /*®*/ U+AE;
}

html,
body {
  direction: ltr;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
}
