/* https://github.com/rsms/inter */
@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
}

body {
  color: #333;
  background: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  transition: background 10s linear;
}
