body {
  padding: 0.5rem;
  width: 19rem;
  margin: 0;
}

h3 {
  margin-block-end: 0.5rem;
}

.checkboxes label {
  display: block;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
}

.checkboxes input {
  vertical-align: middle;
  margin: 0;
}

.checkboxes label span {
  vertical-align: middle;
}

.checkboxes label span.help {
  color: #989898;
}

.info {
  color: #989898;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  margin-block-start: 1rem;
}
