.projectTitle {
  text-align: center;
}

.projectTitle h4 {
  margin-bottom: 0;
}

.pluginRowBlock {
  display: flex;
  justify-content: center;
}

.homeContainer {
  background-color: #55e0c6;
  padding: 40px;
  color: #000;
}

.adeiraHomepageContainer {
  margin: 20px 40px;
}

@media only screen and (min-width: 1400px) {
  .adeiraHomepageContainer {
    width: 50%;
    margin: 40px auto;
  }
}
