* {
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
}

a[target='_blank']:after {
  content: ' ↝';
}

:root {
  --ycbo-color-dark: #1c1e21;
  --ycbo-color-light: #ffffff;
  --ycbo-success-background: #4bb543;
  --ycbo-failure-background: #a82e2e;
}
