name: Continuous Integration (Bazel)

on: [push]

jobs:
  run-bazel:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          # Number of commits to fetch. 0 indicates all history for all branches and tags.
          fetch-depth: 0

      # TODO: https://github.com/actions/cache/issues/239
      - name: Mount Bazel cache
        uses: actions/cache@v2
        with:
          path: '/home/runner/.cache/bazel'
          key: ${{ runner.os }}-bazel-${{ hashFiles('**/*.bazel', '**/*.bzl') }}
          restore-keys: |
            ${{ runner.os }}-bazel-

      - name: Install bazelisk
        run: |
          curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.7.5/bazelisk-linux-amd64"
          mkdir -p "${GITHUB_WORKSPACE}/bin/"
          mv bazelisk-linux-amd64 "${GITHUB_WORKSPACE}/bin/bazel"
          chmod +x "${GITHUB_WORKSPACE}/bin/bazel"

      - name: Bazel version
        run: |
          "${GITHUB_WORKSPACE}/bin/bazel" version

      # TODO: run Flow and other checks as well
      # https://bazelbuild.github.io/rules_nodejs/dependencies.html
      - name: Install NPM dependencies
        run: |
          "${GITHUB_WORKSPACE}/bin/bazel" run @nodejs//:yarn -- --frozen-lockfile

      # TODO: slow without proper CI cache
      # - name: Run Buldifier lint
      #   run: |
      #     "${GITHUB_WORKSPACE}/bin/bazel" run --build_tag_filters=manual //:buildifier.lint

      - name: Test
        run: |
          "${GITHUB_WORKSPACE}/bin/bazel" test //...

      - name: Build
        run: |
          "${GITHUB_WORKSPACE}/bin/bazel" build //...
