name: NPM Publisher

on:
  push:
    branches:
      - master

env:
  CI: true
  NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          # Number of commits to fetch. 0 indicates all history for all branches and tags.
          fetch-depth: 0
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2.3.2
        with:
          node-version: 14.x
      - name: publish NPM packages to the registry
        run: |
          yarn install --frozen-lockfile
          yarn monorepo-babel-node scripts/publishNPMPackages.js
