name: NPM Publisher

on:
  push:
    branches:
      - master

env:
  CI: true
  NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v4.2.2
        with:
          # Number of commits to fetch. 0 indicates all history for all branches and tags.
          fetch-depth: 0

      # Always use the oldest supported Node.js version here:
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 20.19.4

      - name: Install Yarn dependencies
        run: yarn install --immutable

      - name: Publish NPM packages to the registry
        run: yarn monorepo-babel-node scripts/publishNPMPackages.js
