name: Playwright

on:
  merge_group:
    types:
      - checks_requested
  push:
    branches-ignore:
      # We do not run tests on master as the changes were already tested when opening a PR,
      # and we require every PR to be up-to-date before merging it to master.
      - master

env:
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

jobs:
  playwright-test:
    name: Playwright test
    strategy:
      fail-fast: false
      matrix:
        repository:
          - '@adeira/abacus-backoffice'
          - '@adeira/abacus-docs'
          - '@adeira/abacus-kochka'
          - '@adeira/sx-design'
        include:
          - repository: '@adeira/abacus-backoffice'
            source: 'src/abacus-backoffice/**'
            playwrightReportName: 'playwright-report-abacus-backoffice'
            playwrightReportPath: 'src/abacus-backoffice/playwright/test-results/'
          - repository: '@adeira/abacus-docs'
            source: 'src/abacus-docs/**'
            playwrightReportName: 'playwright-report-abacus-docs'
            playwrightReportPath: 'src/abacus-docs/playwright/test-results/'
          - repository: '@adeira/abacus-kochka'
            source: 'src/abacus-kochka/**'
            playwrightReportName: 'playwright-report-abacus-kochka'
            playwrightReportPath: 'src/abacus-kochka/playwright/test-results/'
          - repository: '@adeira/sx-design'
            source: 'src/sx-design/**'
            playwrightReportName: 'playwright-report-sx-design'
            playwrightReportPath: 'src/sx-design/playwright/test-results/'

    runs-on: ubuntu-latest

    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v3.5.0

      # https://github.com/dorny/paths-filter
      - uses: dorny/paths-filter@v2.11.1
        id: paths-filter
        with:
          filters: |
            src: ${{ matrix.source }}

      # https://github.com/actions/setup-node
      - name: Use Node.js 18.x
        if: steps.paths-filter.outputs.src == 'true'
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 18.x
          cache: 'yarn'

      - name: Install Yarn dependencies
        if: steps.paths-filter.outputs.src == 'true'
        run: yarn install --immutable

      - name: Install Playwright
        if: steps.paths-filter.outputs.src == 'true'
        run: yarn workspace ${{ matrix.repository }} playwright install --with-deps

      - name: Run Playwright tests
        if: steps.paths-filter.outputs.src == 'true'
        run: yarn workspace ${{ matrix.repository }} playwright test
        env:
          # See: https://github.com/storybookjs/storybook/issues/16555
          # TODO: remove when no longer needed
          NODE_OPTIONS: --openssl-legacy-provider

      # https://github.com/actions/upload-artifact
      - name: Upload Playwright test results
        if: always()
        uses: actions/upload-artifact@v3.1.2
        with:
          name: ${{ matrix.playwrightReportName }}
          path: ${{ matrix.playwrightReportPath }}
