name: Shipit

on:
  push:
    branches:
      - master

env:
  CI: true

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: run Shipit
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_SHIPIT_PRIVATE_KEY }}" | tr -d '\r' > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 'github.com' >> ~/.ssh/known_hosts
          yarn install --frozen-lockfile
          yarn monorepo-babel-node src/monorepo-shipit/bin/shipit.js
